body{
  font-family: 'Montserrat', sans-serif;
}
.custom-scroll{
    scrollbar-width: thin;
    scrollbar-color: #cccccc #fff;
}
.custom-scroll::-webkit-scrollbar {
    height: 4px;
    width: 6px;
    background-color: #ffffff;
}

.custom-scroll::-webkit-scrollbar-track {
    border-radius: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 2px;
    background: #dee2e6;
}
.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
.openCanvas{
  position: fixed;
  right: 10px;
  bottom: 30px;
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1050;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
    visibility: hidden;
}
.offcanvas-bottom {
    right: 10px;
    left: 10px;
    /*height: 30vh;*/
    max-height: 100%;
    transform: translateY(100%);
    border-radius: 8px 8px 0 0;
    padding: 16px 50px 0 0px;
    
}
.offcanvas-bottom .form-group{
  margin-bottom: 10px;
}
.offcanvas-bottom .digs-row .form-group{
  margin-bottom: 22px;
}
.offcanvas.show{
  transform: none;
  visibility: visible;
}
.form_lable{
  color: #8595A6;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
  line-height: 15px;
}
.select_drop .select2-container .select2-selection--single{
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8595A6;
}
.select_drop .select2-container--default .select2-selection--single .select2-selection__clear,
.select_drop .select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 38px;
}
.select_drop .select2-container--default .select2-selection--single .select2-selection__clear{
      font-size: 20px;
}
.select_drop .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 40px;
  font-size: 14px;
  color: #95A1A9;
  font-weight: 500;
}
.select_drop .select2-container--default .select2-selection--single .select2-selection__rendered[aria-readonly="true"]{
  color: #475259;
  font-weight: 600;
}
input.form-control{
  background: #FFFFFF;
  border: 1px solid #8595A6;
  border-radius: 4px;
  font-size: 14px;
  height: calc(2em + .75rem + 0px);
}
.select-row{
  margin-right: -10px;
  margin-left: -10px;
}
.select-row [class*=col-]{
  padding-left: 10px;
  padding-right: 10px;
}
.card.digs-card{
  border-radius: 4px;  
  border: 0;
  color: #ffffff;
}
.card.actvie_digs{
  background: #2D9AFF;
}
.card.archive_digs{
  background: #1EBD41;
}
.card.requested_digs{
  background: #FF9432;
}
.card.onHold{
  background: #F05614;
}
.card.digs-card .card-body{
  padding: 18px 12px;
}
.card.digs-card h5{
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 17px;
}
.card.digs-card span{
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: inline-block;
}
.onoffBtn{
  border: 1px solid #ADBDCC;
  background-color: #ffffff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  padding: 0;
}
.offcanvas-bottom .onoffBtn{
  position: absolute;
  right: 10px;
}

.border-left-col{
  position: relative;
}
.border-left-col:before{
  content: '';
  width: 1px;
  height: 143px;
  background: #8595A6;
  border-radius: 8px;
  display: inline-block;
  position: absolute;
  left: 0;
}


@media (max-width:991.98px) {

}

.offcanvas-left {
  top: 0;
  left: 0;
  width: 383px;
  transform: translateX(-100%);
  border-radius: 8px;
  height: calc(100vh - 20px);
  
  
}
.offcanvas-left.show{
  transform: translateX(0);
  visibility: visible;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.offcanvas-header h4{
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
}
.offcanvas-header h4 a{
  margin-right: 10px;
}
.offcanvas-header a{
  color: #000000;
  font-size: 16px;
}
#detailDig{
  height: 100%;
}
.offcanvas-left .offcanvas-body{
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
  height: calc(100% - 56px);
}
.vng-title{
  font-weight: 600;
  font-size: 18px;
  color: #475259;
  line-height: 22px;
  margin-bottom: 5px;
}
.vng-span{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8595A6;
}
.height200{
  display: block;
  height: 200px;
}
.digdetail-card{
  border: 0;
  border-top: 1px solid #8595A6;
  border-radius: 0;
  margin-right: -1rem;
  margin-left: -1rem;
}
.digdetail-card .card-header{
  border-radius: 0;
  border: 0;
  background-color: #ffffff;
  padding: 15px;
}
.digdetail-card .card-header a{
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding-right: 16px;
    word-break: break-word;
}
.digdetail-card .card-header a.collapsed{
 color: #475259; 
}
.digdetail-card .card-header a:hover{
  color: #000000;
}
.digdetail-card .card-header a:after{
  content: "\f077";
  position: absolute;
  right: 0;
  top: 3px;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  display: var(--fa-display,inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}
.digdetail-card .card-header a.collapsed:after{
  content: "\f078";
}
.digdetail-card .card-body{
      padding: 15px;
      padding-top: 0;
}
.featureLable{
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #8595A6;
  text-align: right;
  width: 80px;
  margin-bottom: 0;
  word-break: break-word;
}
.featureAns{
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #475259;
  width: calc(100% - 90px);
  word-break: break-word;
}
.openCanvasLeft{
      position: fixed;
    top: 60px;
    left: 10px;
}
.select2-selection--single {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.geocoder {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  /* padding: .375rem .75rem; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid #8595a6;
  min-height: 39px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.mapboxgl-ctrl-geocoder {
  width: 100% !important;
  min-width: 100% !important;
}
.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: none;
}


#myInput {
  /* background-image: url('/css/searchicon.png'); Add a search icon to input */
  /*background-position: 10px 12px;*/ /* Position the search icon */
  /*background-repeat: no-repeat;*/ /* Do not repeat the icon image */
  /*width: 100%;*/ /* Full-width */
  /*font-size: 16px;*/ /* Increase font-size */
  /*padding: 12px 20px 12px 40px;*/ /* Add some padding */
  /*border: 1px solid #ddd;*/ /* Add a grey border */
  /*margin-bottom: 12px;*/ /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100% !important;
  overflow: auto;
}

#myUL li a {
  border-top: 1px solid #8595A6;
  padding: 8px 16px;
  padding-left: 27px;
  text-decoration: none; /* Remove default text underline */
  font-size: 14px; /* Increase the font-size */
  display: block; /* Make it into a block element to fill the whole list */
  position: relative;
  color: #475259;
  font-weight: 600;
  line-height: 1.2;
}
.leftBadge{
      height: 45px;
    display: block;
    width: 7px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    background-color: #0090F9;
}
#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.activedigSpan{
  display: block;
  color: #8595A6;
  font-size: 12px;
  margin-top: 5px;
}

.suggestions{
      top: auto !important;
    bottom: 40px;
}

.search-header{
  position: relative;
  width: calc(100% - 30px);
}
.search-header input.form-control{
  border: 1px solid #8595A6;
  border-radius: 4px;
  padding-right: 36px;
}
.search-header .fa-search{
  position: absolute;
    top: 12px;
    right: 14px;
    color: #ADBDCC;
}
.closeleftCanvas {

}